
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div   class="col-md-12">
                <div   class="page_title">
                    <h2>Energy Dashboard</h2>
                </div>
            </div>
        </div>

        <div class="row column1">

            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">

                    <div class="full price_table padding_infor_info">
                        <div class="Dgrid">
                            <div class="Dstep Darrow-right red_bg">

                                <div class="full counter_section">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-industry"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">35</p>
                                            <p class="head_couter">SUBDIVISION</p>
                                           
                                        </div>
                                        <p class="totalunits">355465 KWH</p>
                                    </div>
                                </div>    
                              <span class="lost_unit">Total Loss :  20550 KWH</span>
                            </div>
                            <div class="Dstep Darrow-right green_bg">
                                <div class="full counter_section ">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-rss"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">52</p>
                                            <p class="head_couter">SUBSTATION</p>
                                            
                                        </div>
                                        <p class="totalunits">310336 KWH</p>
                                    </div>
                                </div>
                                <span class="lost_unit">Total Loss :  20550 KWH</span>
                            </div>
                            <div class="Dstep blue1_bg">
                                <div class="full counter_section">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-rss"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">77</p>
                                            <p class="head_couter">FEEDER</p>
                                           
                                        </div>
                                        <p class="totalunits">290125 KWH</p>
                                    </div>
                                </div>

                            </div>
                            
                          </div> 
                        <!-- <div class="row column1">
                            <div class="col-md-6 col-lg-3">
                                <div class="full counter_section margin_bottom_30 yellow_bg">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-industry"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">35</p>
                                            <p class="head_couter">SUBDIVISION</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-1"> </div>

                            <div class="col-md-6 col-lg-3">
                                <div class="full counter_section margin_bottom_30 blue1_bg">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-rss"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">52</p>
                                            <p class="head_couter">SUBSTATION</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-1"> </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="full counter_section margin_bottom_30 green_bg">
                                    <div class="couter_icon">
                                        <div>
                                            <i class="fa fa-rss"></i>
                                        </div>
                                    </div>
                                    <div class="counter_no">
                                        <div>
                                            <p class="total_no">77</p>
                                            <p class="head_couter">FEEDER</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                             
                        </div> -->
                    
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>