<div class="container-fluid pt-3 px-0">
  <section>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <!-- <i class="fa fa-cog p-2" aria-hidden="true"></i> -->
        <div class="text-container" *ngIf="!IsEditable">
          <!-- <p class="m-0">VEE &nbsp; &#62; &nbsp;Configuration &nbsp; &#62;</p> -->
          <p
            class="m-0 font-weight-bold"
            style="font-size: 16px; color: #364052"
          >
            Create Estimation Rule
          </p>
        </div>
        <div class="text-container" *ngIf="IsEditable">
          <p
            class="m-0 font-weight-bold"
            style="font-size: 16px; color: #364052"
          >
            Edit Data
          </p>
        </div>
      </div>
      <div class="create-button">
        <button type="button" routerLink="../estimationRule" class="btn border">
          &nbsp;Back
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <form #form="ngForm" novalidate autocomplete="off">
          <div class="modal-body">
            <div class="row d-flex">
             
               <div class="col-4 p-0"> 
                <div class="form-group m-2">
                  <label class="HideFeederDropDown" style="margin-bottom: 1em"
                    >Meter Type
                    <span
                      [ngClass]="{
                        error:
                        meterType.invalid && meterType.touched
                      }"
                      >*</span
                    >  </label
                  ><br />
                  <select
                    #meterType="ngModel"
                    name="meterType"
                    id="meterType"
                    class="form-control"
                    [(ngModel)]="formdata.meterType"
                    (ngModelChange)="getBillingtype($event)"
                    required
                  >
                    <option value="" disabled selected default hidden>
                      Select Meter Type
                    </option>
                    <option *ngFor="let obj of MeterType" [value]="obj">
                      {{ obj }}
                    </option>
                  </select>
                  <div
                    *ngIf="meterType.errors?.required && (meterType.touched)"
                    class="alert alert-danger my-2"
                  >
                    Meter Type is required
                  </div>
                </div>
              </div> 
              <!-- DAtaType -->
              <div class="col-4 p-0">
                <div class="form-group m-2">
                  <label class="HideFeederDropDown" style="margin-bottom: 1em"
                    >Data Type<span
                      [ngClass]="{
                        error: dataType.invalid && dataType.touched
                      }"
                      >*</span
                    ></label
                  ><br />
                  <select
                    #dataType="ngModel"
                    name="dataType"
                    id="dataType"
                    class="form-control"
                    [(ngModel)]="formdata.dataType"
                    (ngModelChange)="getBillingtype($event)"
                    required
                    (change)="onChange($event.target)"
                  >
                    <option value="" disabled selected default hidden>
                      Select Data Type
                    </option>
                    <option
                      *ngFor="let obj of logic"
                      [value]="obj.name"
                    >
                      {{ obj.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="dataType.invalid && dataType.touched"
                    class="alert alert-danger my-2"
                  >
                    Data Type Name is required
                  </div>
                </div>
              </div>
              <!-- Logic -->
              <div class="col-4 p-0">
                <div class="form-group m-2">
                  <label class="HideFeederDropDown" style="margin-bottom: 1em"
                    >Logic
                    <span
                      [ngClass]="{
                        error: logic1.invalid && logic1.touched
                      }"
                      >*</span
                    ></label
                  ><br />
                  <select
                    #logic1="ngModel"
                    name="logic"
                    id="logic"
                    class="form-control"
                    [(ngModel)]="formdata.logic"
                    (ngModelChange)="getBillingtype($event)"
                    required
                  >
                    <option value="" disabled selected default hidden>
                      Select logic Type
                    </option>
                    <option
                      *ngFor="let obj1 of typeData | keyvalue"
                      [value]="obj1.value"
                    >
                      {{ obj1.value }}
                    </option>
                  </select>
                </div>
                <div
                  *ngIf="logic1.invalid && logic1.touched"
                  class="alert alert-danger my-2"
                >
                logic Type is required
                </div>
              </div>
              </div>
           
            <div class="row">
              <div class="col-6 p-0">
                <div class="form-group m-2">
                  <label for="validationRuleName" style="margin-bottom: 1em"
                    >Estimation Rule Name<span
                      [ngClass]="{
                        error:
                        ruleName.invalid &&
                        ruleName.touched
                      }"
                      >*</span>
                    </label>
                  
                  <input
                    type="text"
                    #ruleName="ngModel"
                    name="ruleName"
                    id="ruleName"
                    class="form-control"
                    [(ngModel)]="formdata.ruleName"
                    required
                  />
                   <div
                    *ngIf="
                    ruleName.invalid && ruleName.touched
                    "
                    class="alert alert-danger my-2"
                  >
                    Validation Rule Name is required
                  </div>
                </div>
              </div>
              <!-- Parameter -->
              <div class="col-6 p-0">
                <div class="form-group m-2">
                  <label class="HideFeederDropDown" style="margin-bottom: 1em"
                    >Parameter
                    <span
                      [ngClass]="{
                        error: parameter.invalid && parameter.touched
                      }"
                      >*</span
                    ></label
                  >
                  <select
                    #parameter="ngModel"
                    name="parameter"
                    id="parameter"
                    class="form-control"
                    [(ngModel)]="formdata.parameter"
                    (ngModelChange)="getBillingtype($event)"
                    required
                  >
                    <option value="" disabled selected default hidden>
                      Select Parameter
                    </option>
                    <option *ngFor="let obj of parameters" [value]="obj">
                      {{ obj }}
                    </option>
                  </select>
                  <div
                    *ngIf="parameter.invalid && parameter.touched"
                    class="alert alert-danger my-2"
                  >
                    Parameter Name is required
                  </div>
                </div>
              </div>

              <!-- Period -->
              <div class="col-6 p-0">
                <div class="form-group m-2">
                  <label class="HideFeederDropDown" style="margin-bottom: 1em"
                    >Period
                    <span
                      [ngClass]="{
                        error: period.invalid && period.touched
                      }"
                      >*</span
                    ></label
                  ><br />
                  <select
                    #period="ngModel"
                    name="period"
                    id="period"
                    class="form-control"
                    [(ngModel)]="formdata.period"
                    (ngModelChange)="getBillingtype($event)"
                    required
                  >
                    <option value="" disabled selected default hidden>
                      Select period Type
                    </option>
                    <option
                      *ngFor="let obj1 of typeData1 | keyvalue"
                      [value]="obj1.value"
                    >
                      {{ obj1.value }}
                    </option>
                  </select>
                </div>
                <div
                  *ngIf="period.invalid && period.touched"
                  class="alert alert-danger my-2"
                >
                period Type Name is required
                </div>
                <div class="col-5 d-flex flex-column">
                  
                    <label for="status">Status</label>
                    <ui-switch
                      class="ui-switch"
                      #status="ngModel"
                      name="status"
                      [(ngModel)]="formdata.status"
                      (ngModelChange)="getBillingtype($event)"
                    ></ui-switch>
                  
                </div>
              </div>
              <!--  -->
            </div>
          

            <div class="row">
              <div class="form-group m-2 w-100">
                <label for="ruleDescription" style="margin-bottom: 1em"
                  >Rule Description</label
                >
                <textarea
                  #ruleDescription="ngModel"
                  name="ruleDescription"
                  id="ruleDescription"
                  class="form-control"
                  [(ngModel)]="formdata.ruleDescription"
                ></textarea>
              </div>
          
            <div class="row" *ngIf="!IsEditable">
              <button
                type="button"
                class="btn btn-light submit m-2"
                (click)="createValidationRule()"
              >
                Save
              </button>
            </div>
            </div>
            <div class="row" *ngIf="IsEditable">
              <button
                type="button"
                class="btn btn-light submit m-2"
                (click)="save()"
              >
                Save
              </button>
            </div>
          </div>
      
        </form>
      </div>
    </div>
  </section>
</div>
