<!-- <div class="row">
          <div class="col-xs-12"> -->
            <h1 class="h3" style="padding-top: 20px;">Meter Summary</h1>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
              <div style="font-size: 1.5rem; font-weight: bold;">
                Total Meters: {{ communicatingCount + nonCommunicatingCount + neverCommunicatedCount }}
              </div>
              <div style="margin-bottom: 20px; display: flex; align-items: center;">
                <div style="margin-right: 20px;">
                  <label for="fromDate" style="margin-right: 10px;">From Date:</label>
                  <input
                    id="fromDate"
                    type="date"
                    [(ngModel)]="fromDate"
                    style="padding: 5px; border: 1px solid #ccc; border-radius: 4px;"
                  />
                </div>
                <div>
                  <label for="toDate" style="margin-right: 10px;">To Date:</label>
                  <input
                    id="toDate"
                    type="date"
                    [(ngModel)]="toDate"
                    style="padding: 5px; border: 1px solid #ccc; border-radius: 4px;"
                  />
                </div>
                <div style="margin-left: 20px;">
                  <button
                    (click)="fetchMeterData()"
                    [disabled]="!fromDate || !toDate"
                    class="btn btn-success"
                    style="padding: 5px 10px; border-radius: 4px;"
                  >
                    Go
                  </button>
                </div>
              </div>
              <div>
                <button
                  (click)="downloadCSV('total')"
                  class="btn btn-primary"
                  style="margin-right: 10px;"
                >
                  Export Total CSV
                </button>
                <button
                  (click)="downloadPDF('total')"
                  class="btn btn-secondary"
                >
                  Export Total PDF
                </button>
              </div>
            </div>
            <ol style="--length: 5" role="list">
              <li style="--i: 1">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <h3 style="flex: 1">Communicating Meter</h3>
                  <div
                    style="
                      flex: 1;
                      text-align: center;
                      font-size: 1.5rem;
                      font-weight: bold;
                    "
                  >
                    Count: {{ communicatingCount }}
                  </div>
                  <div style="flex: 1; text-align: right">
                    <button
                      (click)="downloadCSV('communicating')"
                      class="btn btn-primary"
                      style="margin: 10px;"
                    >
                      Download CSV
                    </button>
                    <button
                      (click)="downloadPDF('communicating')"
                      class="btn btn-secondary"
                    >
                      Download PDF
                    </button>
                  </div>
                </div>
              </li>
              <li style="--i: 2">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <h3 style="flex: 1">Non Communicating Meter</h3>
                  <div
                    style="
                      flex: 1;
                      text-align: center;
                      font-size: 1.5rem;
                      font-weight: bold;
                    "
                  >
                    Count: {{ nonCommunicatingCount }}
                  </div>
                  <div style="flex: 1; text-align: right;">
                    <button
                      (click)="downloadCSV('nonCommunicating')"
                      class="btn btn-primary"
                      style="margin: 10px;"
                    >
                      Download CSV
                    </button>
                    <button
                      (click)="downloadPDF('nonCommunicating')"
                      class="btn btn-secondary"
                    >
                      Download PDF
                    </button>
                  </div>
                </div>
              </li>
              
              
              <li style="--i: 3">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <h3 style="flex: 1">Never Communicated Meter</h3>
                  <div
                    style="
                      flex: 1;
                      text-align: center;
                      font-size: 1.5rem;
                      font-weight: bold;
                    "
                  >
                    Count: {{ neverCommunicatedCount }}
                  </div>
                  <div style="flex: 1; text-align: right">
                    <button
                      (click)="downloadCSV('neverCommunicated')"
                      class="btn btn-primary"
                      style="margin: 10px;"
                    >
                      Download CSV
                    </button>
                    <button
                      (click)="downloadPDF('neverCommunicated')"
                      class="btn btn-secondary"
                    >
                      Download PDF
                    </button>
                  </div>
                </div>
              </li>
            </ol>

