h5 {
  font-size: 11px;
  font-weight: 500;
  
  margin: 0;
  line-height: inherit;
  color: #000;
  font-family: sans-serif;
  
}

.head {
    font-weight: bold;
    
  }

.heading1 h2 {
  line-height: normal;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding-left: 0;
  color: #15283c;
  letter-spacing: 0px;
  
}

.graph_head {
  padding: 5px 25px 5px;
  float: left;
  width: 100%;
  border-bottom: solid #f3f3f3 2 px;
  background-color: lightgray;
}

#consumermap {
  height: 300px !important;
}

.meterinfo {
  color: white;
  background-color: black;
  padding: 3px;
}


@media (min-width: 1200px) {
  .modal-xl {
      max-width: 1140px !important;
  }
}
