<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Change Password</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">


                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- column contact -->
                            <div class="col-md-12">
                                <form #form="ngForm" (submit)="manageForm()" autocomplete="disabled">
                                    <div class="form-group row">

                                        <div class="col-md-4">
                                            <label>Current Password </label>
                                           
                                            <input
                                            type="password"
                                            class="form-control"
                                            #currentPassword="ngModel"
                                            name="currentPassword"
                                            [(ngModel)]="formData.currentPassword"
                                            [ngClass]="currentPassword.invalid ? 'errorclass' : 'successclass'"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            required
                                            placeholder="currentPassword"
                                            autocomplete="nope"
                                          />
                                        </div>
                                        <div class="col-md-4">
                                            <label>New Password</label>
                                            <input
                                            type="password"
                                            class="form-control"
                                            #newPassword="ngModel"
                                            name="newPassword"
                                            [(ngModel)]="formData.newPassword"
                                            [ngClass]="newPassword.invalid ? 'errorclass' : 'successclass'"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            required
                                            placeholder="newPassword"
                                            autocomplete="nope"
                                          />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Confirm Password</label>
                                            <input
                                            type="password"
                                            class="form-control"
                                            #confirmPassword="ngModel"
                                            name="confirmPassword"
                                            [(ngModel)]="formData.confirmPassword"
                                            [ngClass]="confirmPassword.invalid ? 'errorclass' : 'successclass'"
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            required
                                            placeholder="confirmPassword"
                                            autocomplete="nope"
                                          />
                                        </div>
                                       
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <button [disabled]="form.invalid" type="submit" class="btn btn-success">
                                                <i class="fa fa-check"></i> Submit
                                            </button>
                                           
                                           
                                        </div>
                                        <div class="col-md-6">
                                           
                                            <a style="margin-left: 5px" routerLink="" class="btn btn-primary">
                                                <i class="fa fa-arrow-left"></i> Back
                                            </a>
                                           
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <span>Note : at least 1 upper case, numeric, and special character must be EMBEDDED somewhere in the middle of the password, and not just be the first or the last character of the password string.</span>
                                           
                                           
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>