<div class="midde_cont">
  <div class="container-fluid">
    <div class="row column_title">
      <div class="col-md-12">
        <div class="page_title title1">
          <h2 class="title">System Availability</h2>
          <form #form="ngForm" (submit)="onSubmit()" autocomplete="off">
            <div class="form-group row">
              <!-- Start FromDate -->
              <div
                class="col-md-4"
                style="margin-left: 193px; margin-top: -43px; width: 225px"
              >
                <span>From:</span>
                <input
                  type="date"
                  #fromdate="ngModel"
                  name="fromdate"
                  [(ngModel)]="formdata.fromdate"
                  class="form-control dateBorder"
                />
              </div>
              <!-- ToDate -->
              <div
                class="col-md-4"
                style="margin-left: 32px; margin-top: -43px"
              >
                <span>To:</span>
                <input
                  type="date"
                  #todate="ngModel"
                  name="todate"
                  [(ngModel)]="formdata.todate"
                  class="form-control dateBorder"
                />
              </div>
              <!-- GoButton -->
              <span>
                <button
                  type="submit"
                  [disabled]="form.invalid"
                  class="btn btn-success"
                  style="margin-top: -20px"
                >
                  GO
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="row column1">
      <div class="col-md-12 pt-2">
        <div class="white_shd full margin_bottom_30">
          <div class="full price_table padding_infor_info">
            <div class="table-responsive">
              <button
                type="button"
                (click)="onBtnExport()"
                class="ag-grid btn btn-primary"
              >
                <i class="fa fa-download"></i> CSV Export Data</button
              >&nbsp;
              <input
                type="text"
                id="filter-text-box"
                placeholder="Search"
                (input)="onFilterTextBoxChanged()"
              />
              <button type="submit" style="background: #0b7dda">
                <i class="fa fa-search"></i>
              </button>
              <ag-grid-angular
                style="width: 100%; height: 450px; margin-top: 10px"
                class="ag-theme-balham"
                [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions"
                [pagination]="true"
                [paginationPageSize]="14"
                [enableCellTextSelection]="true"
                (gridReady)="onGridReady($event)"
                [columnDefs]="columnDefs"
                [animateRows]="true"
              >
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
