<div class="midde_cont">
    <div class="container-fluid">
  
  
      <div class="form-group row">
        <div class="col-md-3">
  
  
          <label>Access Level</label>
  
          <select class="form-control" (change)="getSubdivision()" name="accessLevel" [(ngModel)]="formData.accessLevel"
            required>
  
  
  
            <option *ngIf="accessLevel=='All'" value="All">ALL</option>
            <option *ngIf="accessLevel=='All'" value="SUBDEVISION">Subdivision</option>
            <option *ngIf="accessLevel=='All' || accessLevel=='SUBDEVISION'" value="SUBSTATION">Substation</option>
            <option *ngIf="accessLevel=='All' || accessLevel=='SUBDEVISION' || accessLevel=='SUBSTATION'" value="FEEDER">
              Feeder</option>
            <option
              *ngIf="accessLevel=='All' || accessLevel=='SUBDEVISION' || accessLevel=='SUBSTATION' || accessLevel=='FEEDER'"
              value="DT"> DT</option>
  
  
          </select>
  
  
        </div>
  
        <div class="col-md-3"
          *ngIf="(formData.accessLevel=='SUBDEVISION' || formData.accessLevel=='SUBSTATION' || formData.accessLevel=='FEEDER' || formData.accessLevel=='DT' ) && accessLevel=='All' ">
          <label>Subdivision</label>
          <select class="form-control" (change)="getSubstation(subdivisonName.value)" name="subdivisonName"
            #subdivisonName="ngModel" [(ngModel)]="formData.subdivisonName">
            <option [ngValue]="">Select Subdevision</option>
            <option *ngFor="let obj of subdivisionDropDown" [ngValue]="obj">
              {{ obj }}
            </option>
          </select>
        </div>
  
        <div class="col-md-3"
          *ngIf="(formData.accessLevel=='SUBSTATION'  || formData.accessLevel=='FEEDER' || formData.accessLevel=='DT')  && (accessLevel=='All' || accessLevel=='SUBDEVISION' )">
  
  
          <label>Substation</label>
  
          <select class="form-control" (change)="getFeeder(substationName.value)" #substationName="ngModel"
            name="substationName" [(ngModel)]="formData.substationName">
  
  
            <option [ngValue]="">Select Substation</option>
            <option *ngFor="let obj of substatioDropDown" [ngValue]="obj">
              {{ obj }}
            </option>
  
  
          </select>
  
  
        </div>
  
  
        <div class="col-md-3"
          *ngIf="(formData.accessLevel=='FEEDER' ||  formData.accessLevel=='DT') && ( accessLevel=='SUBSTATION' || accessLevel=='SUBDEVISION' || accessLevel=='All') ">
  
  
          <label>Feeder</label>
  
          <select class="form-control" (change)="getDT(feederName.value)" #feederName="ngModel" name="feederName"
            [(ngModel)]="formData.feederName">
  
  
            <option [ngValue]="">Select Feeder</option>
            <option *ngFor="let obj of feederDropDown" [ngValue]="obj">
              {{ obj }}
            </option>
  
          </select>
  
  
        </div>
        <div class="col-md-3"
          *ngIf="formData.accessLevel=='DT' && (accessLevel=='FEEDER' || accessLevel=='SUBSTATION' || accessLevel=='SUBDEVISION' || accessLevel=='All'  )">
  
  
          <label>DT</label>
  
          <select class="form-control" name="dtName" #dtName="ngModel" [(ngModel)]="formData.dtName">
  
            <option [ngValue]="">Select DT</option>
            <option *ngFor="let obj of dtDropDown" [ngValue]="obj">
              {{ obj }}
            </option>
  
          </select>
  
  
        </div>
        <div class="col-md-3">
          <label>From Date</label>
          <input type="date" #fromdate="ngModel" name="fromdate" [(ngModel)]="formdata.fromdate" class="form-control" />
        </div>
  
        <div class="col-md-3">
          <label>To Date</label>
          <input type="date" #todate="ngModel" name="todate" [(ngModel)]="formdata.todate" class="form-control" />
        </div>
  
  
  
        <button type="button" (click)="onSubmit()" class="btn btn-success">GO</button>
  
      </div>
  
  
      <!-- row -->
     
      
      <div class="row">
        <div class="col-md-12">
          <div class="white_shd full margin_bottom_30">
  
            <div class="map_section padding_infor_info">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [markers]="chartOptions.markers"
                      [stroke]="chartOptions.stroke"
                      [yaxis]="chartOptions.yaxis"
                      [dataLabels]="chartOptions.dataLabels"
                      [title]="chartOptions.title"
                      [fill]="chartOptions.fill"
                      [tooltip]="chartOptions.tooltip"
                      [legend]="chartOptions.legend"
                    ></apx-chart>
                  </div>
            </div>
          </div>
        </div>
        
      </div>
      
  
    </div>
  </div>