<div id="stars"></div>
<div class="full_container loginbackgroudimg">
   <div class="container">
      <div class="center verticle_center full_height full_height1">
         <div class="login_section">
            <div class="logo_login">
               <div class="center">
                  <img class="logoimg" src="/assets/images/logo/mdmlogo.png" alt="#" />

               </div>

            </div>


            <div class="login_form">
               <form #form="ngForm" (submit)="onSubmit()">
                  <fieldset>
                     <div class="field">
                        <label class="label_field">Email Address</label>
                        <input type="email" #emailAddress="ngModel" name="emailAddress" [(ngModel)]="formData.emailAddress" required
                           placeholder="emailAddress" />
                     </div>
                     <div class="field margin_0">
                        <label class="label_field hidden">hidden label</label>
                        <button [disabled]="form.invalid" type="submit" class="main_bt">Submit</button>
                     </div>
                  </fieldset>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>



