<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Booster Management</h2>
                </div>
            </div>
        </div>

        <!-- row -->
        <div class="row column1">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Booster</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- column contact -->
                            <div class="col-md-12">
                                <form #form="ngForm" (submit)="manageRequest()">
                                    <div class="form-group row">
                                        <input type="hidden" #boosterID="ngModel" name="boosterID" [(ngModel)]="formData.boosterID" />
                                        <div class="col-md-4">
                                            <label>From Date</label>
                                            <input #fromDate="ngModel" name="fromDate" [(ngModel)]="formData.fromDate" type="date" required placeholder="Name" class="form-control" />
                                        </div>

                                        <div class="col-md-4">
                                            <label>To Date</label>
                                            <input type="date" #toDate="ngModel" name="toDate" [(ngModel)]="formData.toDate" required placeholder="Name" class="form-control" />
                                        </div>

                                        <div class="col-md-3">
                                            <label>Level Type</label>
                                            <select class="form-control" #requestType="ngModel" name="requestType" [(ngModel)]="formData.requestType">
                        <option value="">--Select Level--</option>
                        <option value="ConsumerGroup">Consumer Group</option>
                        <option value="SUBDEVISION">Subdivision</option>
                        <option value="SUBSTATION">Substation</option>
                        <option value="FEEDER">Feeder</option>
                        <option value="DT">DT</option>
                      </select>
                                        </div>
                                        <div class="col-md-3" *ngIf="formData.requestType == 'ConsumerGroup'">
                                            <label>Category/Tariff Index</label>
                                            <select class="form-control" name="consumerGroup" [(ngModel)]="consumerGroup">
                        <option value="">--Select Category/Tariff--</option>
                        <option value="DLT">Domestic(DLT)</option>
                        <option value="CLT">Non Domestic(CLT)</option>
                        <option value="ILT">Industrial(ILT)</option>
                        <option value="GP">General Purpose(GP)</option>
                        <option value="WSLT">Public Water Supply(WSLT)</option>
                        <option value="PL">Public Lighting(PL)</option>
                        <option value="LED">LED Fittings And Lamps(LED)</option>
                        <option value="AP">Agriculture(AP)</option>
                        <option value="BPLM">Kultir Jyoti/BPL(BPLM)</option>
                        <option value="TOD_LT">Time Of Day-LT(TOD_LT)</option>
                      </select>
                                        </div>

                                        <div class="col-md-3" *ngIf="
                        formData.requestType == 'SUBDEVISION' ||
                        formData.requestType == 'SUBSTATION' ||
                        formData.requestType == 'FEEDER' ||
                        formData.requestType == 'DT'
                      ">
                                            <label>Subdivision</label>
                                            <select class="form-control" (change)="getSubstation()" name="subdivisonName" [(ngModel)]="subdivisonName">
                        <option [ngValue]="">Select Subdevision</option>
                        <option
                          *ngFor="let obj of subdivisionDropDown"
                          [ngValue]="obj"
                        >
                          {{ obj }}
                        </option>
                      </select>
                                        </div>

                                        <div class="col-md-3" *ngIf="
                        formData.requestType == 'SUBSTATION' ||
                        formData.requestType == 'FEEDER' ||
                        formData.requestType == 'DT'
                      ">
                                            <label>Substation</label>

                                            <select class="form-control" (change)="getFeeder()" name="substationName" [(ngModel)]="substationName">
                        <option [ngValue]="">Select Substation</option>
                        <option
                          *ngFor="let obj of substatioDropDown"
                          [ngValue]="obj"
                        >
                          {{ obj }}
                        </option>
                      </select>
                                        </div>

                                        <div class="col-md-3" *ngIf="
                        formData.requestType == 'FEEDER' ||
                        formData.requestType == 'DT'
                      ">
                                            <label>Feeder</label>

                                            <select class="form-control" (change)="getDT()" name="feederName" [(ngModel)]="feederName">
                        <option [ngValue]="">Select Feeder</option>
                        <option
                          *ngFor="let obj of feederDropDown"
                          [ngValue]="obj"
                        >
                          {{ obj }}
                        </option>
                      </select>
                                        </div>
                                        <div class="col-md-3" *ngIf="formData.requestType == 'DT'">
                                            <label>DT</label>

                                            <select class="form-control" name="dtName" [(ngModel)]="dtName">
                        <option [ngValue]="">Select DT</option>
                        <option *ngFor="let obj of dtDropDown" [ngValue]="obj">
                          {{ obj }}
                        </option>
                      </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Balance</label>
                                            <input #balance="ngModel" name="balance" [(ngModel)]="formData.balance" type="number" required placeholder="0.00" class="form-control" />
                                        </div>

                                        <div class="col-md-3">
                                            <label>Request To</label>

                                            <select class="form-control" #requestTo="ngModel" name="requestTo" [(ngModel)]="formData.requestTo">
                        <option value="">--Select User--</option>
                        <option
                          *ngFor="let obj of members"
                          value="{{ obj.userID }}"
                        >
                          {{ obj.fullName }}
                        </option>
                      </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Request Reason</label>

                                            <textarea class="form-control" #requestReason="ngModel" name="requestReason" [(ngModel)]="formData.requestReason" [ngClass]="requestReason.invalid ? 'errorclass' : 'successclass'" pattern="[a-zA-Z-0-9\/)|\(_-][a-zA-Z0-9 -\/)|\(_-]+[a-zA-Z-0-9\/)|\(_-]$"
                                                required rows="2" cols="50"></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Remarks</label>

                                            <textarea class="form-control" #remarks="ngModel" name="remarks" [(ngModel)]="formData.remarks" [ngClass]="requestReason.invalid ? 'errorclass' : 'successclass'" pattern="[a-zA-Z-0-9\/)|\(_-][a-zA-Z0-9 -\/)|\(_-]+[a-zA-Z-0-9\/)|\(_-]$" rows="2" cols="50"></textarea>
                                        </div>
                                    </div>

                                    <button type="submit" [disabled]="form.invalid" class="btn btn-success">
                    <i class="fa fa-check"></i> Apply
                  </button>
                                    <a style="margin-left: 5px" routerLink="/mdm/prepaid/buster" class="btn btn-primary">
                                        <i class="fa fa-arrow-left"></i> Back
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>