<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>
                        Monthly Summary

                        <button routerLink="/mdm/PrepaidService/consumers" class="btn btn-success btn-xs mybutton">
                <i class="fa fa-bolt"> </i> Prepaid Consumers
              </button> &nbsp;&nbsp;

                        <button routerLink="/mdm/PrepaidService/dailySummary" class="btn btn-danger btn-xs mybutton">
                <i class="fa fa-money"> </i> Daily Summary
              </button> &nbsp;&nbsp;

                        <button routerLink="/mdm/PrepaidService/rechargeHistory" class="btn btn-info btn-xs mybutton">
                <i class="fas fa-chart-line"></i> Recharge History
              </button> &nbsp;&nbsp;
                    </h2>
                </div>
            </div>

            <div class="row column1">
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <!-- column contact -->
                                <div class="col-md-12">
                                    <form #form="ngForm" autocomplete="off">
                                        <div class="form-group row">

                                            <div class="col-md-2">

                                                <input type="text" readonly value="{{levelValue}}" class="form-control" />
                                            </div>
                                            <div class="col-md-2">

                                                <input type="text" readonly value="{{levelName}}" class="form-control" />
                                            </div>

                                            <div class="col-md-3">

                                                <input type="date" #fromdate="ngModel" name="fromdate" [(ngModel)]="formdata.fromdate" class="form-control" />
                                            </div>

                                            <div class="col-md-3">

                                                <input type="date" #todate="ngModel" name="todate" [(ngModel)]="formdata.todate" class="form-control" />
                                            </div>



                                            <div class="col-md-2">
                                                <button type="submit" [disabled]="form.invalid" class="btn btn-info">
                           <i class="fas fa-search"></i>
                            Search
                          </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12" style="margin-top: -25px;">
                                    <div class="table_section padding_infor_info">
                                        <div class="table-responsive-sm">
                                            <div id="gridContainer">
                                                <ag-grid-angular style="width: 100%; height: 450px" class="ag-theme-balham" [defaultColDef]="defaultColDef" [gridOptions]="gridOptions" [pagination]="true" [paginationPageSize]="100" (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [animateRows]="true">
                                                </ag-grid-angular>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>