<div class="midde_cont">
  <div class="container-fluid">
    <div class="row column_title">
      <div class="col-md-12">
        <div class="page_title">
          <h2>Prepaid Management</h2>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row column1">
      <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
            <div class="heading1 margin_0">
              <h2>Tarrif Upload By Excel</h2>
            </div>
            <a
              routerLink="/mdm/user"
              class="btn btn-primary btn-xs"
              style="float: right; color: white"
            >
              <i class="fa fa-file-excel-o"> </i> Format
            </a>
          </div>
          <div class="full price_table padding_infor_info">
            <div class="row">
              <!-- column contact -->
              <div class="col-md-12">
                <form>
                  <div class="form-group row">
                    <div class="col-md-4">
                      <label>Category/Tariff Index</label>
                      <select class="form-control">
                        <option value="">--Select Category/Tariff--</option>
                        <option value="DLT">Domestic(DLT)</option>
                        <option value="CLT">Non Domestic(CLT)</option>
                        <option value="ILT">Industrial(ILT)</option>
                        <option value="GP">General Purpose(GP)</option>
                        <option value="WSLT">Public Water Supply(WSLT)</option>
                        <option value="PL">Public Lighting(PL)</option>
                        <option value="LED">LED Fittings And Lamps(LED)</option>
                        <option value="AP">Agriculture(AP)</option>
                        <option value="BPLM">Kultir Jyoti/BPL(BPLM)</option>
                        <option value="TOD_LT">Time Of Day-LT(TOD_LT)</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label>Old Tarrif</label>
                      <input type="number" class="form-control" 
                         
                          placeholder="0.0" />
                  </div>

                  <div class="col-md-4">
                      <label>New Tarrif</label>
                      <input type="number" class="form-control" 
                         
                          placeholder="0.0" />
                  </div>

                    <div class="col-md-12">
                      <label>File</label>
                      <input
                        type="file"
                        required
                        placeholder="Name"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <button type="button" class="btn btn-success">
                    <i class="fa fa-check"></i> Upload
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
            <div class="heading1 margin_0">
              <h2>Tarrif</h2>
            </div>
          </div>
          <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>#Request Number</th>
                    <th>Tarrif </th>
                   
                    <th>Consumer No</th>
                    <th>Request By</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                  <tr>
                    <td>SR637727806986360333</td>
                    <td>DLT</td>
                    <td>1213456</td>
                    <td>Admin</td>
                    <td>Confirmed</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
