<!-- <div class="midde_cont">
  <div class="container-fluid">
    <div class="row column_title">
      <div class="col-md-12">
        <div class="page_title">
          <h2>
            Energy

            <button routerLink="/mdm/energy/analysis" class="btn btn-success btn-xs mybutton">
              <i class="fa fa-bolt"> </i> Analysis
            </button>

            &nbsp;&nbsp;

            <button routerLink="/mdm/energy/loss" class="btn btn-danger btn-xs mybutton">
              <i class="fa fa-money"> </i> Loss
            </button>
            &nbsp;&nbsp;

            <button routerLink="/mdm/energy/forecasting" class="btn btn-info btn-xs mybutton">
              <i class="fas fa-chart-line"></i> Forecasting
            </button>
            &nbsp;&nbsp;
          </h2>
        </div>
      </div>

      <div class="row column1">
         
     
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Energy Consumption(kwh)</h6>
                    <h2 class="text-right"><i class="fa fa-bolt f-left"></i><span class="myspan">4000 </span></h2>
                    
                </div>
            </div>
        </div>
        
      
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Energy Loss (Kwh)</h6>
                    <h2 class="text-right"><i class="fa fa-bolt f-left"></i><span class="myspan">1000</span></h2>
                    
                </div>
            </div>
        </div>

       

        <div class="col-md-3">
          <div id="chart">
            <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [plotOptions]="chartOptions2.plotOptions"
              [labels]="chartOptions2.labels"
              [fill]="chartOptions2.fill"
            ></apx-chart>
          </div>
        </div>

        <div class="col-md-3">
          <div id="chart">
            <apx-chart
              [series]="chartOptions3.series"
              [chart]="chartOptions3.chart"
              [labels]="chartOptions3.labels"
              [fill]="chartOptions3.fill"
              [stroke]="chartOptions3.stroke"
              [responsive]="chartOptions3.responsive"
            ></apx-chart>
          </div>
        </div>

      
      </div>

     

      <div class="col-md-6">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [labels]="chartOptions.labels"
            [stroke]="chartOptions.stroke"
            [plotOptions]="chartOptions.plotOptions"
            [markers]="chartOptions.markers"
            [fill]="chartOptions.fill"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
      </div>
    </div>

    <div class="col-md-6">
      <div id="chart">
        <apx-chart
          [series]="chartOptions1.series"
          [chart]="chartOptions1.chart"
          [dataLabels]="chartOptions1.dataLabels"
          [plotOptions]="chartOptions1.plotOptions"
          [responsive]="chartOptions1.responsive"
          [xaxis]="chartOptions1.xaxis"
          [legend]="chartOptions1.legend"
          [fill]="chartOptions1.fill"
        ></apx-chart>
      </div>
  </div>

  <div class="col-md-12">
    <div id="chart">
      <apx-chart
        [series]="chartOptions4.series"
        [chart]="chartOptions4.chart"
        [xaxis]="chartOptions4.xaxis"
        [yaxis]="chartOptions4.yaxis"
        [title]="chartOptions4.title"
      ></apx-chart>
    </div>
  </div>
</div>

 -->
